body{
    background-color: white;
}

#container_jogadores {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}

.img{
    border-radius: 10px;
    width: 250px;
    height: auto;
}


@media (max-width: 992px) {
    #container_jogadores {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    #container_jogadores {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    #container_jogadores {
        grid-template-columns: repeat(1, 1fr);
    }
}